* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --mainColor : #075985;
    --secondaryColor: #f8fafc;
    --tertiaryColor: #e4e4e7;
    --profileColor: #fb923c;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    --shadowOfBoxes : 0px 10px 20px -5px rgba(0,0,0,0.25);
}

body {}

.container {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;
}

.header {
    padding: 1em;
    background-color: var(--secondaryColor);
    grid-column: 2 / 3;
    box-shadow: var(--shadowOfBoxes);
    z-index: 1;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.search {
    width: 100%;
    position: relative;
    padding-left: 40px;
}

div.search > img.icon {
    position: inherit;
    top: 10px;
    padding-right: 15px;
    cursor: pointer;
}


div.search > label {}

input[type=text] {
    background-color: var(--tertiaryColor);
    border: none;
    border-radius: 20px;
    padding: 8px;
    width: min(80%, 700px);
    position: relative;
}

.account {
    display: flex;
    width: 411px;
    align-items: center;
}


.icon-avatar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.icon-avatar > .icon {
    cursor: pointer;
}

.account > p.name {
    margin-left: 20px;
    width: 100%;
    font-weight: bold;
    font-size: 1.1em;
}

img.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1em;
}

.profile {
    display: flex;
    align-items: center;
    width: min(40%,500px);
}

.profile > img.avatar {
    width: 75px;
    height: 75px;
    margin-left: 30px;
    cursor: pointer;
}

.profile-name {
    font-weight: bold;
    padding-left: 10px;
}

.profile-name > p.name {
    font-size: 1.5em;
}

span {
    font-size: 1.4rem;
}

.buttons {
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    background-color: var(--mainColor);
    color: var(--secondaryColor);
    width: 100px;
    padding: 0.6em;
    border: none;
    border-radius: 35px;
    cursor: pointer;
}

.sidebar {
    padding: 2em;
    background-color: var(--mainColor); 
    grid-row: 1 / 3;
}

.main-content {
    padding: 2em;
    background-color: var(--tertiaryColor);
}